$Neutral_color_black: black;
$Neutral_color_white: white;
$Primary_color_blue: #0099FF;
$Primary_color_pink: #FE8DBA;
$Primary_color_red: #FF4438;
$Primary_color_orange: #FFAF00;
$Primary_color_beige: #FFF8E4;